<?xml version="1.0"?>
<settings>
  <!-- Database settings  -->
  <database>
    <host>mysql.zzz.com.ua</host>
    <port>3306</port>
    <name>zergsolutions</name>
    <user>admin_zerg</user>
    <pass>346hKJ4h747h5k7</pass>
  </database>

  <view>
    <theme>cloud_doc</theme>
    <color>blue</color>
  </view>

  <recaptcha>
    <public_key>6LeJVzgUAAAAAPYpHBgpxhHXBtkdFIckKsiLwvtL</public_key>
    <secret_key>6LeJVzgUAAAAAPJq4h9LFZJMp3G5hXc9Qva-UedF</secret_key>
  </recaptcha>

</settings>
