.olButton {
  top: 10px;
  width: 32px !important;
  background-size: 32px !important;
  height: 32px !important;
  cursor: pointer;
}

.menuhideItemInactive {
  background-image: url(../images/panel_open.png);
}

.fullscreenItemInactive {
  background-image: url(../images/monitor-off.png);
}

.fullscreenItemInactive:hover, .fullscreenItemActive {
  background-image: url(../images/monitor-on.png);
}

.olControlNavigation_topItemActive {
  background-image: url(../images/hand-on.png);
}

.olControlNavigation_topItemInactive {
  background-image: url(../images/hand-on-gray.png);
}

.zoomTo_topItemActive {
  background-image: url(../images/zoom_area.png);
}

.zoomTo_topItemInactive {
  background-image: url(../images/zoom_area_gray.png);
}

.linerItemActive {
  background-image: url(../images/measure_in.png);
}

.linerItemInactive {
  background-image: url(../images/measure_out.png);
}

.clearPict_topItemInactive {
  background-image: url(../images/clear_gray.png);
}

.clearPict_topItemInactive:hover {
  background-image: url(../images/clear.png);
}

.print_topItemInactive {
  background-image: url(../images/printer-box-gray.png);
}

.printAllItemInactive {
  background-image: url(../images/printer_gray.png);
}

.printAllItemInactive:hover {
  background-image: url(../images/printer.png);
}

.print_topItemActive {
  background-image: url(../images/printer-box.png);
}

.maptype_topItemInactive {
  background-image: url(../images/map_gray.png);
}

.maptype_topItemInactive:hover {
  background-image: url(../images/map.png);
}

#map_change_ctrl {
  position: absolute;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  z-index: 999;
  line-height: 20px;
}

#map_change_ctrl ul {
  padding: 5px;
  margin: 0;
}

#map_change_ctrl li {
  padding-left: 5px;
}

#map_change_ctrl li:hover a {
  color: #fff;
}

