@font-face {
    font-family: "ProximaNova";
    src: url(/themes/cloud_doc/fonts/ProximaNova-Reg.otf);
}
html {
    font-family: "ProximaNova", serif;
    font-size: 16px;
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #4c80f3;
    height: 50px;
    color: #fff;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.top-logo {
    font-size: 30px;
    margin-right: 40px;
    float: left;
    line-height: 50px;
    font-weight: bold;
}

.top-logo .fa-cloud {
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}

.top-logo span {
    color: #FFC107;
}

.top-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu li {
    float: left;
    margin-right: 30px;
    line-height: 50px;
}

.top-menu li a {
    color: #fff;
    text-decoration: none;
}

.top-menu li a:hover {
    text-decoration: underline;
    color: #FFC107;
}

.top-user-info {
    float: right;
    line-height: 50px;
    margin-right: 20px;
}

section.main-content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 1000px;
}

footer {
    height: 200px;
    background-color: #4c80f3;
}